language: go

go: "1.10"

os:
  - linux

sudo: required
dist: trusty

env:
  matrix:
    - HYPERKUBE_VERSION=1.11.0
    - HYPERKUBE_VERSION=1.10.1
    - HYPERKUBE_VERSION=1.9.1
    - HYPERKUBE_VERSION=1.8.6
    - HYPERKUBE_VERSION=1.7.6
#    - HYPERKUBE_VERSION=1.6.6 TODO there are some kubelet issues
#    - HYPERKUBE_VERSION=1.5.6 TODO there are some kubelet issues

before_install:
  - sudo apt-get update

install:
  - sudo apt-get install -yq systemd
  - sudo curl -Lf https://storage.googleapis.com/kubernetes-release/release/v$HYPERKUBE_VERSION/bin/linux/amd64/kubectl -o /usr/local/bin/kubectl
  - sudo chmod +x /usr/local/bin/kubectl
  # or use in pupernetes --kubectl-link /usr/local/bin/kubectl

before_script:
  - make

script:
  - sudo ./pupernetes daemon run sandbox/ -v 4 --job-type systemd --bind-address 0.0.0.0:8989 --hyperkube-version $HYPERKUBE_VERSION --kubeconfig-path $HOME/.kube/config
  - ./.ci/pupernetes-validation.sh

# debug commands
after_failure:
  - uptime # check the load
  - free -h # pods may be evicted
  - sudo journalctl -e --no-pager -o cat -u p8s-etcd.service
  - sudo journalctl -e --no-pager -o cat -u p8s-kubelet.service
  - sudo journalctl -e --no-pager -o cat -u p8s-kube-apiserver.service
